.header {
  display: flex;
  padding: 2%;
  border-radius: 8px;
  margin-left: auto;
}

label {
  padding-top: 0.4rem;
  padding-right: 1rem;
  font-weight: bold;
}

#searchBtn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0rem 1rem;
}

#fetchBtn {
  padding: 0.7% 1.4%;
  background-color: rgb(5, 146, 101);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

#attendanceContainer {
  padding: 3%;
  display: flex;
}

.dataContainer {
  width: 33%;
  font-family: sans-serif;
  line-break: normal;
}

.markBtnContainer {
  padding: 3%;
}
